<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>주문</title>-->
<!--</head>-->
<!--<body>-->

<!--  <h1>주문 하기 페이지</h1>-->
<!--  <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>-->

<!--주문 형식-->


<!--  <div class="detail">-->
<!--    <form id="orderForm" method="post">-->
<!--      <table>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th>상품명</th>-->
<!--          <td><input th:value="${detail.productName}" type="text" name="productName"-->
<!--                     placeholder="상품명 입력" required/></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <th>상품 가격</th>-->
<!--          <td><input th:value="${detail.price}" type="number" name="price"-->
<!--                     placeholder="상품 가격 입력" required/></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <th>상품 사진</th>-->
<!--          <td><input th:value="${detail.productImg}" type="text" name="productImg"-->
<!--                     placeholder="상품 사진 등록" required/></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <th>재고 수량</th>-->
<!--          <td><input th:value="${detail.stockQuantity}" type="text" name="stockQuantity"-->
<!--                     placeholder="재고 수량" required/></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--&lt;!&ndash;      <button th:if="${editMode}">상품 수정</button>&ndash;&gt;-->

<!--    </form>-->
<!--  </div>-->




<!--</body>-->
<!--</html>-->