spring:
  datasource:
    url: jdbc:mariadb://127.0.0.1:3306/malldb
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 4250

  jpa:
    generate-ddl: true
    hibernate:
    ddl-auto: update
    show-sql: true

    mail:
      host: smtp.gmail.com
      port: 587
      username: "이메일 발신할 이메일 주소"
      password:
      properties:
        mail:
          smtp:
            starttls:
              enable: true